// css文件
                
@CHARSET "UTF-8";
/*总体布局*/
html{height:100%;}
body{margin:0;height:100%;background:url('image/bg.jpg');color:#333;font-family:Tahoma,simsun;font-size:15px;}
.top{position:fixed;background:#369;height:52px;width:100%;}
.top-title{color:#fff;font-family:'Microsoft YaHei';font-size:22px;font-weight:bold;text-align:center;line-height:52px;}
.main{position:fixed;height:100%;width:100%; background:#fff;margin-top:52px;}
.footer{position:fixed;width:100%;background:#e6e5e5;height:32px;bottom:0;box-shadow:1px -1px 9px #c2c2c2;font-size:12px;line-height:32px;text-align:center;color:#666;font-family:'Microsoft YaHei';}

/* 登录表格 */
.total-table{width:300px;border:1px solid #369;font-size:20px;font-weight:bold;text-align:center;line-height:35px;float:right; margin-top:100px;margin-right:20%;padding:5px;}
.table-item{background:#fff;color:#369;padding:5px 5px;}
.table-item .item1{width:80px;height:30px;background:#369;color:#fff;}
.table-item .item2{width:210px;height:40px;border:none;border-bottom: 1px solid #369;}
.table-item .item3{width:300px;height:45px;background:#369;color:#fff;border:none;}

/* 展示页面 */
.content{position:fixed;height:100%;width:100%; background:#fff;margin-top:52px;}
.tip{position:relative;height:40px;width:100%;text-align:right;padding-right:50px;font-size:16px;font-weight:bold;line-height:30px;}
.content-wrap{position:relative;width:650px;height:100%;align:center;margin:10px auto;}
.content-wrap table{width:650px;border:1px solid #369;}
.content-wrap tr{height:45px;font-size:18px;text-align:center;line-height:25px;}
.content-wrap td{border:1px solid #369;}
.img{width:150px;padding:5px;}
.update{position:relative;height:30px;width:100px;background:#f00;font-size:16px;}
.error {color: #FF0000;}






<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<title>Insert title here</title>
<link rel="stylesheet" href="CSS/style.css">
</head>
    <body>
    <?php 
    	require "data/info.php";
    	$name = isset($_POST["id"])?$_POST['id']:"";
    ?>
    
		<div class="top">
			<div class="top-title"> 个人信息 </div>
		</div>
		<div class="content">
		<div class='tip'>欢迎访问！admin	时间：
			<a href="">修改信息</a>
		</div>
		<div class="content-wrap">
			<table>
				<tr><td colspan=5>基本情况</td></tr>
				<tr><td>姓名</td><td>张三</td>
				<td>性别</td><td>男</td>
				<td rowspan="4" class="img"><img src="" /></td></tr>
				<tr><td>联系方式</td><td>13845428743</td>
				<td>邮箱</td><td>5426@qq.com</td></tr>
				<tr><td>专业</td><td>计算机应用</td>
				<td>班级</td><td>二班</td></tr>
				<tr><td>爱好</td><td colspan="4">rap、dance</td></tr>
				<tr><td>个人评价</td><td> good ! !</td></tr>
			</table>
			</div>
		</div>
		
    </body>
</html>
          
          
          
          
          <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="CSS/style.css">
</head>

    <body>
    	<div class="top">
    		<div class="top-title">登录界面</div>
    	</div>
    	<div class="main">
    		<form method='post' action='newfile.php'>
    			<table class="total-table">
    			<tr class="table-item"><td colspan=2>登录</td></tr>
    			<tr class="table-item"><td class="item1">姓名</td><td><input class="item2" type="text" name="id" value="" /></td></tr>
    			<tr class="table-item"><td class="item1">密码</td><td><input class="item2" type="password" name="pwd" value="" /></td></tr>
    			<tr class="table-item"><td colspan=2><input class="item3" type="submit"  value="提交" /></td></tr>
    			</table>
    		
    		
    		</form>
    	</div>
    </body>
 
</html>
          
          
          
 
<?php
	$user = array(
			'name' => '张三',
			'sex' => '男',
			'photo' => 'data/Koala.jpg',
			'nation' => '汉族',
			'hometown' => '广东省',
			'subject' => '计算机某专业',
			'calss_' => '1',
			'phone' => '0000000',
			'eamil' => '123@qq.com',
			'hobby' => array('dance','beat', "rap"),
			'self' => 'good'
	);
	return $user;
?>
      
